<a href="https://colab.research.google.com/gist/singhsidhukuldeep/2936e18450b97d88392e57f90234b1ea/functions-introduction-26-april-2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>

# Functions Introduction - 26 April 2024

<img src="https://runestone.academy/ns/books/published/fopp/_images/function_calls.gif" width="25%">

In [ ]:
num1 = 10
num2 = 25

In [ ]:
# functions
# what, why, how
# arguments >> positional and keyword
# return
# scope of variables
# lambda

In [ ]:
print("Clean your room")
print("Arrange the living area")
print("When they come, touch feet")
print("Do not shout")
print("Make tea/nimbu pani")
print("Get samosas from market")
print("reject the money they give while leaving")

Clean your room
Arrange the living area
When they come, touch feet
Do not shout
Make tea/nimbu pani
Get samosas from market
reject the money they give while leaving

In [ ]:
def prepare_for_guests():
    print("Clean your room")
    print("Arrange the living area")
    print("When they come, touch feet")
    print("Do not shout")
    print("Make tea/nimbu pani")
    print("Get samosas from market")
    print("reject the money they give while leaving")

In [ ]:
prepare_for_guests()

Clean your room
Arrange the living area
When they come, touch feet
Do not shout
Make tea/nimbu pani
Get samosas from market
reject the money they give while leaving

In [ ]:
def make_tea():
    print("Get some water")
    print("Boil the water")
    print("add the ingridients: tea leaves")
    sugar = input("Do you want sugar [y/n]: ")
    if sugar=="y":
        print("add sugar")
    else:
        print("no sugar for you")
    print("add milk")
    print("Tea ‚òïÔ∏è is ready")

In [ ]:
print(type(make_tea))

<class 'function'>

In [ ]:
make_coffee

NameError: name 'make_coffee' is not defined

In [ ]:
make_tea()

Get some water
Boil the water
add the ingridients: tea leaves
Do you want sugar [y/n]: y
add sugar
add milk
Tea ‚òïÔ∏è is ready

In [ ]:
for tea_cup in range(3):
    make_tea()

Get some water
Boil the water
add the ingridients: tea leaves
Do you want sugar [y/n]: n
no sugar for you
add milk
Tea ‚òïÔ∏è is ready
Get some water
Boil the water
add the ingridients: tea leaves
Do you want sugar [y/n]: y
add sugar
add milk
Tea ‚òïÔ∏è is ready
Get some water
Boil the water
add the ingridients: tea leaves
Do you want sugar [y/n]: n
no sugar for you
add milk
Tea ‚òïÔ∏è is ready

In [ ]:
def greet_people():
    print("üôèHello", "SIDDHESH")

In [ ]:
greet_people()

üôèHello SIDDHESH

In [ ]:
# arguments
def greet_people(name_of_person):
    print("üôèHello", name_of_person)

In [ ]:
greet_people("SIDDHESH")
greet_people("Roshan")

üôèHello SIDDHESH
üôèHello Roshan

In [ ]:
greet_people()

TypeError: greet_people() missing 1 required positional argument: 'name_of_person'

In [ ]:
def introduce_family(father, mother, brother):
    print("üôè Namaste uncle", father)
    print("ü¶∂ Namaste aunty", mother)
    print("üôå 'sup bro", brother)

In [ ]:
introduce_family("Tony stark","Pepper Potts", "James Stark")

üôè Namaste uncle Tony stark
ü¶∂ Namaste aunty Pepper Potts
üôå 'sup bro James Stark

In [ ]:
introduce_family("Tony stark","Pepper Potts")

TypeError: introduce_family() missing 1 required positional argument: 'brother'

In [ ]:
introduce_family("Tony stark","Pepper Potts", "James Stark", "Thor")

TypeError: introduce_family() takes 3 positional arguments but 4 were given

In [ ]:
# positional argument >> position matters
def introduce_family(father, mother, brother):
    print("üôè Namaste uncle", father)
    print("ü¶∂ Namaste aunty", mother)
    print("üôå 'sup bro", brother)

introduce_family("Tony stark","Pepper Potts", "James Stark")

üôè Namaste uncle Tony stark
ü¶∂ Namaste aunty Pepper Potts
üôå 'sup bro James Stark

In [ ]:
introduce_family("Tony stark", "James Stark","Pepper Potts")

üôè Namaste uncle Tony stark
ü¶∂ Namaste aunty James Stark
üôå 'sup bro Pepper Potts

In [ ]:
def totalOF2nums(a,b):
    print(a+b)
totalOF2nums(5,2)

7

In [ ]:
def totalOF2nums(a,b):
    print("a=",a, type(a))
    print("b=",b, type(b))
    print(a+b)
num1 = 10
num2 = 25
totalOF2nums(num1,num2)

a= 10 <class 'int'>
b= 25 <class 'int'>
35

In [ ]:
def func(n):
  for i in range(n):
    print("hello")

In [ ]:
func(3.0)

TypeError: 'float' object cannot be interpreted as an integer

In [ ]:
func(3)

hello
hello
hello

In [ ]:
func("hello")

TypeError: 'str' object cannot be interpreted as an integer

In [ ]:
# for emojis üòÇ
# windows >> wind+.
# mac: ^+command+space

In [ ]:
def totalOF2nums(a,b):
    print(a+b)
totalOF2nums(5,2)

7

In [ ]:
def totalOF2nums(a,b):
    return a+b
total = totalOF2nums(5,2)
print("total was", total)

total was 7

In [ ]:
print(total*100)

700

In [ ]:
# a python function can have as many returns as it wants
def isItOdd(num):
    if num%2==0:
        return "It was even"
    else:
        return "It was odd"
func_gave_me = isItOdd(5)
print("this is what was returned:", func_gave_me)
func_gave_me = isItOdd(6)
print("this is what was returned:", func_gave_me)

this is what was returned: It was odd
this is what was returned: It was even

In [ ]:
# a python function can have as many returns as it wants
# once a return is triggered, it leaves the function
# in a single python function calll, only one return gets triggered
def isItOdd(num):
    if num%2==0:
        return "this looks even"
        return "It was even"
    else:
        return "wow that's odd"
        return "It was odd"
func_gave_me = isItOdd(5)
print("this is what was returned:", func_gave_me)
func_gave_me = isItOdd(6)
print("this is what was returned:", func_gave_me)

this is what was returned: wow that's odd
this is what was returned: this looks even

In [ ]:
# returning multiple values, to be done in DS
def totalOF2nums(a,b):
    return a+b, a*b
total = totalOF2nums(5,2)
print("total was", total)

total was (7, 10)

In [ ]:
print(type(print))

<class 'builtin_function_or_method'>

In [ ]:
thisIsWhatPrintGaveMe = print("ü§Ø")

ü§Ø

In [ ]:
print(thisIsWhatPrintGaveMe)

None

In [ ]:
a  = 5
b = 6
c,d = a,b
print(c)
print(d)

5
6

In [ ]:
a  = 5
b = 6
c,d = a+1,b+5
print(c)
print(d)

6
11

In [ ]:
# positional argument >> position matters
def introduce_family(father, mother, brother):
    print("üôè Namaste uncle", father)
    print("ü¶∂ Namaste aunty", mother)
    print("üôå 'sup bro", brother)

introduce_family("Tony stark","Pepper Potts", "James Stark")

üôè Namaste uncle Tony stark
ü¶∂ Namaste aunty Pepper Potts
üôå 'sup bro James Stark

In [ ]:
introduce_family("Tony stark", "James Stark","Pepper Potts")

üôè Namaste uncle Tony stark
ü¶∂ Namaste aunty James Stark
üôå 'sup bro Pepper Potts

In [ ]:
# keyword arguments>> order doesnot matter
introduce_family(father="Tony stark", brother="James Stark",mother="Pepper Potts")

üôè Namaste uncle Tony stark
ü¶∂ Namaste aunty Pepper Potts
üôå 'sup bro James Stark

In [ ]:
def yoo(a,b,c,d):
    print("a = ", a)
    print("b = ", b)
    print("c = ", c)
    print("d = ", d)
    print("---------")

In [ ]:
yoo("a", "b","c", "d") # positional
yoo("a", "b", "d","c")
yoo(a = "a", b="b", d="d",c="c") # keyword arguments
yoo("a", "b", d="d",c="c")

a =  a
b =  b
c =  c
d =  d
---------
a =  a
b =  b
c =  d
d =  c
---------
a =  a
b =  b
c =  c
d =  d
---------
a =  a
b =  b
c =  c
d =  d
---------

In [ ]:
def yoo(a,b,c,d):
    print("a = ", a)
    print("b = ", b)
    print("c = ", c)
    print("d = ", d)
    print("---------")
yoo("a", "b", d="d",a="c")

TypeError: yoo() got multiple values for argument 'a'

In [ ]:
def yoo(a,b,c,d):
    print("a = ", a)
    print("b = ", b)
    print("c = ", c)
    print("d = ", d)
    print("---------")
yoo("a", d="d",c="c","b")

SyntaxError: positional argument follows keyword argument (<ipython-input-63-43099ebf59d9>, line 7)

In [ ]:
def simple_interest(p, t, r):
    interest = p*r*t/100
    return interest

simple_interest(100, 2, 7.5)

15.0

In [ ]:
def simple_interest(p, t, r=5): # default arguments
    interest = p*r*t/100
    return interest

simple_interest(100, 2)

10.0

In [ ]:
simple_interest(100, 2, 7.5)

15.0

In [ ]:
def simple_interest(p, r=5, t): # default arguments
    interest = p*r*t/100
    return interest

simple_interest(100, 2)

SyntaxError: non-default argument follows default argument (<ipython-input-67-05ae4bf0c642>, line 1)

In [ ]:
def multiply(num1=3, num2):
    return num1 * num2

print(multiply(2, 4))

SyntaxError: non-default argument follows default argument (<ipython-input-68-f42fbf0805a4>, line 1)

In [ ]:
def multiply(num2, num1=3):
    return num1 * num2

print(multiply(2, 4))

8

In [ ]:
def simple_interest(p=1000, t=20, r=5): # default arguments
    interest = p*r*t/100
    return interest

print(simple_interest(100, 2))

10.0

In [ ]:
def make_tea(sugar="y"):
    print("Get some water")
    print("Boil the water")
    print("add the ingridients: tea leaves")
    # sugar = input("Do you want sugar [y/n]: ")
    if sugar=="y":
        print("add sugar")
    else:
        print("no sugar for you")
    print("add milk")
    print("Tea ‚òïÔ∏è is ready")

In [ ]:
make_tea()

Get some water
Boil the water
add the ingridients: tea leaves
add sugar
add milk
Tea ‚òïÔ∏è is ready

In [ ]:
make_tea("n")

Get some water
Boil the water
add the ingridients: tea leaves
no sugar for you
add milk
Tea ‚òïÔ∏è is ready

In [ ]:
# scope of vars

In [ ]:
chef_of_the_house = "mom" # global var
print("chef_of_the_house before the function is", chef_of_the_house)

def change_the_chef():
    chef_of_the_house="dad" # local var
    print("chef_of_the_house inside the function is", chef_of_the_house)

change_the_chef()
print("chef_of_the_house after the function is", chef_of_the_house)

chef_of_the_house before the function is mom
chef_of_the_house inside the function is dad
chef_of_the_house after the function is mom

In [ ]:
chef_of_the_house = "mom" # global var
print("chef_of_the_house before the function is", chef_of_the_house)

def change_the_chef():
    global chef_of_the_house
    chef_of_the_house="dad" # no longer local var, it's global
    print("chef_of_the_house inside the function is", chef_of_the_house)

change_the_chef()
print("chef_of_the_house after the function is", chef_of_the_house)

chef_of_the_house before the function is mom
chef_of_the_house inside the function is dad
chef_of_the_house after the function is dad

In [ ]:
def function(var):
    print(var)

function(3)

var = 5
function(var)

3
5

In [ ]:
chef_of_the_house = "mom" # global var
print("chef_of_the_house before the function is", chef_of_the_house)

def who_is_the_chef():
    # if there is no local var, look in global
    print("chef_of_the_house inside the function is", chef_of_the_house)

who_is_the_chef()
print("chef_of_the_house after the function is", chef_of_the_house)

chef_of_the_house before the function is mom
chef_of_the_house inside the function is mom
chef_of_the_house after the function is mom

In [ ]:
# lambda function
# they are simple python functions, that are one liner

def squarrer(num):
    return num*num
print(squarrer(5))

25

In [ ]:
#                 lambda inp: outputs
squarrer_lambda = lambda num : num*num
print(squarrer_lambda(5))

25

In [ ]:
print(type(squarrer))
print(type(squarrer_lambda))

<class 'function'>
<class 'function'>

In [ ]:
def totalOF2nums(a,b):
    return a+b

print(totalOF2nums(5,2))

7

In [ ]:
#                        lambda inp: outputs
totalOF2nums_one_liner = lambda a,b : a+b
print(totalOF2nums_one_liner(5,2))

7

In [ ]:
def totalOF2nums(a,b):
    return a+b
print("func start")
output = totalOF2nums(5,2)
print(output)
print("func end")

func start
7
func end

In [ ]:
def totalOF2nums(a,b):
    return a+b
print("func start")
print(totalOF2nums(5,2))
print("func end")

func start
7
func end

In [ ]:
#         lambda_func ()
(lambda num : num*num)(5)

25

In [ ]:
#     lambda_func ()
(lambda a,b : a+b)(5,10)

15

In [ ]:
# anonymous functions/no name functions

In [ ]:
# lambda inp: outputs
(lambda : print("Hello Scaler"))("Scaler")

TypeError: <lambda>() takes 0 positional arguments but 1 was given

In [ ]:
(lambda : print("Hello Scaler"))()

Hello Scaler

In [ ]:
def simple_interest(p, r=10, t):
    si = p*r*t/100
    return si
simple_interest(100, 10, 20)

SyntaxError: non-default argument follows default argument (<ipython-input-92-02fad2db4b43>, line 1)

In [1]:
# Rahul
# Please help with loops 2 assignment question Problem Description
# You are given an integer A as input and you need to determine whether it is a palindrome or not.
# A palindrome integer is one whose digits, when reversed, result in the same number.
# For example, 121 is a palindrome because its reverse is also 121, but 123 is not a palindrome because its reverse is 321. Note: The given integer will not have any leading zeros.

num = 123
original_num = num
reverse_num = 0

while num!=0:
    last_digit = num%10
    num = num//10
    reverse_num = reverse_num*10 + last_digit
print(original_num, reverse_num)

123 321